@model Phenicienn.Models.Restaurant

@{
    ViewData["Title"] = "Restaurant - Details";
}

    <h2 class="titles mb-5">Details</h2>

<div>
    <h4>Restaurant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-area="Admin" asp-controller="Restaurants" asp-action="Edit" asp-route-id="@Model.RestaurantId">Edit</a> |
    <a asp-area="Admin" asp-controller="Restaurants" asp-action="Index">Back to List</a>
</div>
