@model Phenicienn.Models.table

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>table</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="capacity" class="control-label"></label>
                <input asp-for="capacity" class="form-control" />
                <span asp-validation-for="capacity" class="text-danger"></span>
            </div>
            <div id="TableNoDiv" class="form-group">
                <label asp-for="TableNo" class="control-label"></label>
                <input asp-for="TableNo" class="form-control" />
                <span asp-validation-for="TableNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="ai" class="control-label">Auto Increment</label>
                <input style="width:initial;" id="ai" asp-for="ai" type="checkbox" class="form-control" />
            </div>
            
            <div class="form-group">
               
                <input asp-for="@Model.key" type="hidden" value="@ViewBag.key" class="form-control" />
                
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

            <div class="form-group">
                <img style="width:200px; height:200px" src="@ViewBag.BarcodeImage" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts{  
<script>
    $(document).ready(() => {
        $("#ai").click(() => {
            $("#TableNoDiv").toggle();
        });
    });
</script>
}