<ul class="nav">
    <li>
        <a href="/Admin/Items">
            <i class="fa fa-book-open" aria-hidden="true"></i>
            <p>Menu</p>
        </a>
    </li>
    <li>
        <a href="/Admin/Categories">
            <i class="fa fa-list" aria-hidden="true"></i>
            <p>Categories</p>
        </a>
    </li>
    <li>
        <a href="/Admin/Tables">
            <i class="fa fa-table" aria-hidden="true"></i>
            <p>Tables</p>
        </a>
    </li>
    <li>
        <a href="/Admin/Allergants">
            <i class="fa fa-allergies" aria-hidden="true"></i>
            <p>Allergens</p>
        </a>
    </li>
    <li>
        <a href="/Admin/Ingredients">
            <i class="fa fa-allergies" aria-hidden="true"></i>
            <p>Ingredients</p>
        </a>
    </li>
    <li>
        <a href="/Admin/Employees">
            <i class="fa fa-user-friends" aria-hidden="true"></i>
            <p>Register Employees</p>
        </a>
    </li>
</ul>