<ul class="nav">
    <li>
        <a href="/Cachier/Bills">
            <i class="fa fa-user-friends" aria-hidden="true"></i>
            <p>Unpaid Bills</p>
        </a>
    </li>
    <li>
        <a href="/Cachier/Bills/Paid">
            <i class="fa fa-user-friends" aria-hidden="true"></i>
            <p>Paid Bills</p>
        </a>
    </li>
</ul>