<div class="modal fade" id="orders" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Orders</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="OrdersBody" class="modal-body">
                <div id="order" class="order">
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary active" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<style>
    .order-heading {
        color: #007bff;
        margin:0;
    }
    .validate{
        height:50%;
        align-self:center;
    }
    .collapsible-order{
        cursor:pointer;
    }
    .item-image{
        width:150px;
        height:150px;
        border-radius:5px;

    }
    .table > thead > tr > th{
        font-weight:500;
    }
    .table > tbody > tr > td{
        font-size:20px;
    }
    
</style>
<script>
    function loadOrders() {
        
    }
</script>