
@{
    ViewData["Title"] = "Home";
}
<h1>Index</h1>

<div class="links">
    <a asp-area="Admin" asp-action="Index" asp-controller="Restaurants" >Restaurants</a>
    <a asp-area="Admin" asp-action="Index" asp-controller="Menus" >Menus</a>
    <a asp-area="Admin" asp-action="Index" asp-controller="Categories" >Categories</a>
    <a asp-area="Admin" asp-action="Index" asp-controller="Items" >Items</a>

</div>
